@font-face {
  font-family: 'Gillroy';
  src: url('assets/fonts/gillroy/Gillroy-Bold.woff2') format('woff2'),
    url('assets/fonts/gillroy/Gillroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(to right, #E3F1E7, #FEEFC7);
}

@media (max-width: 768px) {
  .main {
    height: 60vmax;
  }
}

nav {
  padding: 5vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 15%;
  padding: 2vmin;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.186);
  border-image: linear-gradient(to right, #ffffff, #000000) 40;
  overflow: hidden;
}

.logo {
  width: 4vmax;
  height: auto;
  margin-right: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-container h6 {
  font-family: 'Gillroy', sans-serif;
  font-size: 0.8vmax;
  font-weight: lighter;
  text-align: left;
}

.store-logo {
  width: 1.8vmax;
  height: 1.8vmax;
}

.title {
  font-family: 'Gillroy', sans-serif;
  font-size: 1.5vmax;
  padding: 10vmax;
  color: #1b1c1b;
  font-weight: 700;
  text-align: center;
}

.title span {
  font-weight: lighter;
}

@media (max-width:768px) {
  .title h1 {

    font-size: 3vmax;

    padding: 0;
    justify-content: center;
  }

  .check-item {
    font-size: 20vmin;
  }
}

.checks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Gillroy', sans-serif;
}

.check-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.check-item span {
  font-family: 'Gillroy', sans-serif;
  font-weight: lighter;
  font-size: 1.2vmax;
  color: #1b1c1b;
  display: inline;
  text-align: left;
}

.check {
  width: 1.2rem;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .checks {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .check-item {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.bottom-right-img {
  position: absolute;
  bottom: 2vmin;
  top: 60vmin;
  right: 0vmin;
  width: 20vmax;
  height: auto;
  z-index: 100;
  pointer-events: none;
}

@media (max-width:768px) {
  .bottom-right-img {
    display: none;
  }
}


.card {
  height: 40vmax;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.062), 0 -4px 8px rgba(0, 0, 0, 0),
    -4px 8px 8px rgba(0, 0, 0, 0), 4px 8px 8px rgba(47, 47, 47, 0);
  border-radius: 49px;
  background-color: #F6FEF7;
  position: relative;
  overflow: hidden;
}

.circle {

  height: 40vmax;
  width: 40vmax;
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: linear-gradient(to bottom, #29dc71, #bfffd8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gillroy', sans-serif;
}

.hand {
  width: 40vmax;
  position: relative;
  top: -38%;
  z-index: 20;
  right: -10%;
  transition: transform 0.3s;
}



@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



.stroke {
  position: absolute;
  height: 50vmax;
  width: 50vmax;
  border-radius: 50%;
  border: 2px solid #17C95F;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.ellipse {
  position: absolute;
  width: 1vmax;
  height: 1vmax;
  background: linear-gradient(to bottom, #17C95F, #bfffd8);
  border-radius: 50%;

}


.ellipse:nth-child(1) {
  top: 0;
  left: 40%;
  transform: translateX(-50%);
}

.ellipse:nth-child(2) {
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
}

.ellipse:nth-child(3) {
  top: 10%;
  width: 4vmax;
  height: 4vmax;
  left: 16%;
  transform: translateY(-50%);
}

.ellipse:nth-child(4) {
  top: 35%;
  width: 3vmax;
  height: 3vmax;
  right: 0;
  transform: translateY(-50%);
}


.page2 h1 {
  text-align: center;
  font-family: 'Gillroy', sans-serif;
  font-size: 3vmax;
  font-weight: 700;

}

.page2 span {
  font-weight: lighter;
}

hr {
  width: 80%;

  margin: 40px auto;

  border: none;

  height: 1px;

  background: linear-gradient(to right, #ccc, #000, #ccc);

  opacity: 0.8;

}

.features {
  font-family: 'Gillroy', sans-serif;
  display: flex;

  flex-direction: row;

  justify-content: space-evenly;

  align-items: center;

  padding: 40px;

  padding-bottom: 80px;
  margin-top: 10px;

}

.feature-item {
  display: flex;

  flex-direction: row;

  align-items: center;

  gap: 10px;

  text-align: left;

}

.feature-item img {
  width: 5vmax;
}

.feature-item span {
  font-size: 16px;

  color: #3c3c3c;

  line-height: 1.4;

}


@media (max-width: 768px) {
  .features {
    flex-direction: column;

    gap: 20px;

    align-items: flex-start;

  }

  .feature-item {

    flex-direction: row;

    align-items: center;

    gap: 10px;

  }
}

.featuredby {
  width: 100%;
  display: flex;
  background-color: #F4F5F8;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  box-sizing: border-box;

}

.featuredby img {
  width: 40%;
  max-width: 400px;

  padding: 20px;

  box-sizing: border-box;

}

@media (max-width: 768px) {
  .featuredby {
    flex-direction: column;

    padding: 20px;
  }

  .featuredby img {
    width: 80%;

    max-width: none;

    padding: 10px;

  }
}


.how-to-payoff {
  padding: 40px;
  background-color: #f9fff7;

  border-radius: 8px;
  max-width: 100vmax;
  margin: 0 auto;
  text-align: center;
}

.how-to-payoff h1 {
  font-family: 'Gillroy', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.how-to-payoff h1 span {
  color: #000000;
  font-weight: lighter;
}

.steps-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.step {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  text-align: left;
}

.step-image img {
  width: 250px;
  background-color: #ffffff;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.step-content {
  max-width: 500px;
  font-family: 'Gillroy', sans-serif;
}

.step-content h2 {
  font-size: 1.5rem;
  color: #00a84f;
  margin-bottom: 10px;
}

.step-content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #000;
}

.step-content p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.apply-now {
  font-size: 1rem;
  color: #00a84f;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.apply-now:hover {
  text-decoration: underline;
}


.step2 {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  text-align: left;

}





/* Mobile Styles */
@media (max-width:768px) {
  .step {
    display: flex;
    flex-direction: column-reverse;

    align-items: center;

    gap: 20px;
  }

  .step2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: left;

  }

  .step-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .step-image img {
    width: 200px;

  }


}

.btn1 {
  font-family: 'Gillroy', sans-serif;
  width: 100%;
  display: none;

  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;

  color: #fff;

  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn1 span {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  height: 30px;

  width: 30px;
  background-color: #ffffff;

  border-radius: 50%;

  font-size: 1rem;

  color: #000;

  margin-left: 10px;

}



/* Button Hover Effect */
.btn1:hover {
  background-color: #1e1d1d;

}

@media (max-width:768px) {
  .btn1 {
    display: block;
  }
}


.testimonials {
  text-align: center;
  padding: 50px 20px;
}

.testimonials h1 {
  font-size: 2.5rem;
  color: #0f172a;
  margin-bottom: 10px;
}

.testimonials p {
  font-size: 1.1rem;
  color: #4b5563;
  margin-bottom: 40px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  height: 15vmax;
  margin: 0 auto;
}

.carousel {
  display: flex;
  animation: scroll 15s linear infinite;
}

.review-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px;
  margin: 0 10px;
  text-align: left;
}

.stars {
  color: #16b629;
  font-size: 1.5rem;
}

.review-card p {
  font-size: 0.9rem;
  margin: 15px 0;
  color: #475569;
}

.review-card h4 {
  font-weight: bold;
  font-size: 1rem;
  color: #0f172a;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}


@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
    max-width: 90%;
    height: 30vmax;
    margin: 0 auto;
  }

  .review-card {
    min-width: 90%;
  }
}



/* FAQ Section Styles */
.faq-section {
  text-align: center;
  padding: 50px 20px;
}

.faq-section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #0f172a;
  margin-bottom: 20px;
}

.faq-section h2 span {
  font-weight: lighter;
  color: #4b5563;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e7eb;
  font-size: 1rem;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-item p {
  margin: 0;
  color: #111827;
}

.faq-icon {
  font-size: 1.2rem;
  font-weight: bold;
}

.checkmark {
  color: #0acd1b;

}

.crossmark {
  color: #252525;

}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-section h2 {
    font-size: 1.8rem;
  }

  .faq-item {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .faq-icon {
    font-size: 1rem;
  }
}


/* Section Styling */
.banner-container {
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #e9f9e6, #e6f7f4);

  padding: 40px;
  border-radius: 8px;
  width: 100%;
  height: 30vmax;
}

/* Text Content */
.content h1 {
  font-size: 4vmax;
  font-weight: bold;

  color: #1b1b1b;
  margin: 0;
}

.content sup {
  font-size: 0.6em;
  vertical-align: super;
}


.content p {
  font-size: 1.2rem;
  color: #1b1b1b;
  margin-top: 10px;
}

/* Image Container */
.image-container {
  position: relative;


}

.image-container img {
  width: 20vmax;
  height: auto;
  position: relative;

  border-radius: 8px;
}

/* Button Styling */
.btn {
  font-family: 'Gillroy', sans-serif;
  width: 80%;
  display: none;

  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;

  color: #fff;

  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn span {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  height: 30px;

  width: 30px;
  background-color: #ffffff;

  border-radius: 50%;

  font-size: 1rem;

  color: #000;

  margin-left: 10px;

}

/* Button Hover Effect */
.btn:hover {
  background-color: #1e1d1d;
}

/* Flame Styling */
.flame {
  overflow: hidden;
  position: absolute;
  border: 2px solid rgb(31, 197, 31);
  opacity: 40%;
  width: 45vmax;
  height: 45vmax;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

.flame1 {
  overflow: hidden;
  position: absolute;
  border: 2px solid rgb(35, 192, 35);
  width: 30vmax;
  height: 30vmax;
  border-radius: 50%;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flame2 {
  overflow: hidden;
  position: absolute;
  border: 2px solid rgb(35, 192, 35);
  width: 20vmax;
  height: 20vmax;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
    height: 60vmax;
  }

  .image-container img {
    top: 50%;


  }

  .flame {
    top: 50%;
    margin-right: 20px;
  }

  .btn {
    display: block;
    /* Visible on mobile */
  }

  .image-container img {
    margin-top: 20px;
  }
}



/* Styling for the terms section */
.terms {
  font-family: 'Gillroy', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10vmax;
  justify-content: center;
}

/* Styling for the text container */
.text-container {
  color: #25252582;
  width: 90vmax;
  text-align: justify;
}
